@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

@media (prefers-color-scheme: light) {
    :root {
        color-scheme: light;

        --color-background: #fff;
        --color-background-alt: #f8f9fa;
        --color-accent: #fff;
        --color-shadow: rgba(0, 0, 0, 0.5);
        --color-border: #ddd;
        --color-highlight: #aaa;
        --color-text: #000;
        --color-header-bg: #007bff;
        --color-header-text: #fff;
        --color-search-bg: #fff;
        --color-result-bg: #fff;
        --color-result-border: #ddd;
        --color-result-shadow: rgba(0, 0, 0, 0.1);
        --color-result-class: #777;
        --color-preference-border: #ccc;
        --color-preference-text: #666;
        --color-switch-bg: #ccc;
        --color-switch-checked-bg: #2196F3;
        --color-switch-knob-bg: #fff;
        --color-reset-bg: #f44336;
        --color-reset-hover-bg: #d32f2f;
        --color-popup-shadow: rgba(0, 0, 0, 0.3);
        --color-popup-border: #ddd;
        --color-popup-highlight: #aaa;
        --color-version-text: #666;
    }

    .menu-icon img {
        filter:invert(1);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;
        
        --color-background: #000;
        --color-background-alt: #070809;
        --color-accent: #222;
        --color-shadow: rgba(0, 0, 0, 0.5);
        --color-border: #555;
        --color-highlight: #555;
        --color-text: #fff;
        --color-text-alt: #ddd;
        --color-header-bg: #222;
        --color-header-text: #000;
        --color-search-bg: #000;
        --color-result-bg: #222;
        --color-result-border: #222;
        --color-result-shadow: rgba(0, 0, 0, 0.1);
        --color-result-class: #888;
        --color-preference-border: #333;
        --color-preference-text: #999;
        --color-switch-bg: #333;
        --color-switch-checked-bg: #de68e0;
        --color-switch-knob-bg: #000;
        --color-reset-bg: #f44336;
        --color-reset-hover-bg: #2cc8d6;
        --color-popup-shadow: rgba(0, 0, 0, 0.3);
        --color-popup-border: #222;
        --color-popup-highlight: #555;
        --color-version-text: #999;
    }

    #about-popup .popup-content img {
        filter:invert(1);
    }
}

* {
    -webkit-tap-highlight-color: transparent;
}

.hamburger-icon {
    font-size: 1.5rem;
    font-family: "bootstrap-icons";
    line-height: 0;
    padding: 13.5px 0;
    cursor: pointer;
    position: absolute;
    z-index: 1000;
    transition: transform 0.1s ease;
    color: #fff;
}

.hamburger-icon.open {
    transform: rotate(-360deg);
}

.hamburger-menu {
    position: fixed;
    top: 0;
    left: -300px;
    width: 250px;
    height: 100%;
    background-color: var(--color-accent);
    border-radius: 0 2em 2em 0;
    transition: left 0.4s ease;
    z-index: 999;
    box-shadow: 0 0 25px var(--color-shadow);
}

.menu-icon {
    display: flex;
    align-items: center;
    padding: .75rem;
    cursor: pointer;
}

.menu-icon img {
    width: 30px;
    height: 30px;
    border-radius: 10px;
    margin-right: .75rem;
}

.menu-icon span {
    font-weight: bold;
    font-size: 1.25rem;
}

.hamburger-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.hamburger-menu ul li {
    padding: 1rem .75rem;
    position: relative;
}

.hamburger-menu ul li::after {
    background-color: var(--color-border);
    content: '';
    display: block;
    height: 2px;
    border-radius: 1rem;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 0);
    width: 85%;
    margin-top: .85rem;
}

.hamburger-menu ul li a {
    text-decoration: none;
    color: var(--color-text-alt);
    display: flex;
    align-items: center;
}

.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-shadow);
    backdrop-filter: blur(12px);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
    z-index: 998;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-accent);
    box-shadow: 0 5px 15px var(--color-popup-shadow);
    z-index: 1001;
    width: 80%;
    max-width: 400px;
    border-radius: 1rem;
    opacity: 1;
    transition: opacity 0.15s ease;
}

.popup-content {
    padding: 1rem;
    text-align: center;
}

#about-popup .popup-content p {
    font-size: .75rem;
}

.popup.hidden {
    opacity: 0;
}

.popup-logo {
    width: 100px;
}

.version {
    font-size: 0.6rem;
    color: var(--color-version-text);
    margin-bottom: 1rem;
    margin-top: 0;
}

.close {
    position: absolute;
    right: 10px;
    cursor: pointer;
    font-size: 1.25rem;
}

body {
    font-family: "bootstrap-icons", "Inter Tight", Arial, sans-serif;
    margin-block: auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    overscroll-behavior: none;
    touch-action: manipulation;
    background-color: var(--color-background-alt);
}

header {
    background-color: var(--color-header-bg);
    color: var(--color-header-text);
    padding: 1rem;
    width: calc(100% - 1rem);
    border-radius: 0 0 7.5% 7.5%;
    text-align: center;
    position: relative;
    z-index: 998;
    overflow: hidden;
    position: sticky;
    right: 0;
    left: 0;
    top: 0;
}

#logo {
    max-width: 100px;
    display: block;
    margin: 0 auto;
}

main {
    padding: 0 10px;
    margin-top: 1rem;
    width: 95%;
    max-width: 600px;
}

#searchInput {
    margin: 1rem 0 0 0;
    width: 85%;
    padding: 0.5rem;
    font-size: 1.15rem;
    border-radius: 10rem;
    background: var(--color-search-bg);
    color: var(--color-text);
    font-family: "Inter Tight", Arial, sans-serif;
    text-align: center;
    border: none;
    outline: none;
}

#results {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-around;
    margin-bottom: 1em;
}

.result-item {
    border: 1px solid var(--color-result-border);
    border-radius: 1.125rem;
    background-color: var(--color-result-bg);
    padding: .75rem;
    width: calc(50% - 2.2rem);
    text-align: center;
    box-shadow: 0 2px 12px var(--color-result-shadow);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.result-item img {
    min-width: 2rem;
    max-width: 100%;
    height: auto;
    border-radius: 1.125rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-container {
    position: relative;
    width: 100%;
    padding-top: 100%;
}

.result-item img[src*="assets/img/produce/none.jpg"] {
    border: 1.5px solid var(--color-highlight);
}

.result-item .class {
    font-size: 0.9rem;
    color: var(--color-result-class);
    margin-top: 0.5rem;
}

.result-item .plu {
    padding: 0;
    margin: 0;
    font-size: 0.75rem;
    line-height: 1;
    color: var(--color-result-class);
}

.result-item p {
    margin: 0.25rem 0;
}

.result-item .description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-size: 0.75rem;
    line-height: normal;
    color: var(--color-result-class);
    margin: .5em 0 0 0;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
}

#preferences-title {
    margin: 1rem 0;
}

#preferences-content {
    display: none;
    padding: 10px;
    margin: 0;
}

.preference-card {
    border: 1px solid var(--color-preference-border);
    background-color: var(--color-accent);
    border-radius: 1.25rem;
    padding: 15px;
    margin-bottom: 10px;
}

#theme-toggle {
    border: solid 1px var(--color-border);
    padding: 5px;
    border-radius: .5rem;
    outline: none;
    font-family: "Inter Tight", Arial, sans-serif;
    background-color: var(--color-background-alt);
    color: var(--color-text);
}

#results-per-page {
    border: solid 1px var(--color-border);
    padding: 5px;
    border-radius: .5rem;
    outline: none;
    font-family: "Inter Tight", Arial, sans-serif;
    background-color: var(--color-background-alt);
    color: var(--color-text);
}

.preference-card h3 {
    font-weight: bold;
    margin: 0;
}

.preference-card .description {
    font-size: 12px;
    color: var(--color-preference-text);
    margin-top: 0px;
}

.reset-button {
    font-family: "Inter Tight", Arial, sans-serif;
    background-color: var(--color-reset-bg);
    color: #fff;
    border: solid 1px var(--color-border);
    padding: 5px;
    border-radius: .5rem;
    outline: none;
}

#preferences-content ~ header input {
    display: none;
}

.popup-header {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}

.popup-produce-image {
    width: 100px;
    height: auto;
    border-radius: 0.75rem;
}

.popup-details {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.popup-produce-name {
    font-size: 1.25rem;
    font-weight: 700;
    margin: 0;
}

.popup-produce-plu {
    font-size: .9rem;
    color: var(--color-result-class);
    margin: 0.5rem 0;
}

.popup-produce-class {
    font-size: 1.1rem;
    color: var(--color-result-class);
}

.popup-produce-description {
    margin: .5rem 0;
    font-size: .85rem;
}

.popup-barcode-image {
    margin-top: 1rem;
    border: 1px solid var(--color-popup-border);
    border-radius: 0.75rem;
    width: auto;
    max-height: 100px;
    object-fit: fill;
    overflow: hidden;
    position: relative;
}

.popup-header img[src*="images/notfound.jpg"] {
    border: 1.5px solid var(--color-popup-highlight);
}

#confirmation-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-accent);
    box-shadow: 0 5px 15px var(--color-popup-shadow);
    z-index: 1001;
    width: 80%;
    max-width: 400px;
    border-radius: 1.5rem;
    opacity: 1;
    transition: opacity 0.3s ease, visibility 0s linear 0.3s;
}

#confirmation-popup .popup-content {
    text-align: center;
}

#confirmation-popup h2 {
    margin-top: 0;
    text-align: left;
}

#confirmation-popup p {
    font-size: .875em;
}

.popup-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
}

.cancel-button {
    font-family: "Inter Tight", Arial, sans-serif;
    background-color: var(--color-border);
    color: #fff;
    border: solid 1px var(--color-border);
    padding: 5px;
    border-radius: .5rem;
    outline: none;
}