@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

/* Hamburger Icon Styles */
.hamburger-icon {
    font-size: 1.5rem;
    cursor: pointer;
    position: absolute;
    z-index: 1000;
    margin-left: 1.2rem;
    transition: transform 0.3s ease;
}

.hamburger-icon.open {
    transform: rotate(-180deg);
}

/* Hamburger Menu Styles */

.hamburger-menu {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: white;
    box-shadow: 2px 0 5px rgba(0,0,0,0.5);
    border-radius: 0 20px 0 0;
    transition: left 0.3s ease;
    z-index: 999;
}

.menu-icon {
    display: flex;
    align-items: center;
    padding: 1rem;
    cursor: pointer;
}

.menu-icon img {
    width: 30px;
    height: 30px;
    border-radius: 10px;
    margin-right: 1rem;
}

.menu-icon span {
    font-weight: bold;
    font-size: 1.2rem;
}

.hamburger-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.hamburger-menu ul li {
    padding: 1rem;
}

.hamburger-menu ul li::after {
    background-color: #ddd;
    content: '';
    display: block;
    height: 1px;
    left: 50%;
    position: absolute;
    transform: translate(-50%,0);
    width: 85%;
    margin-top: 1rem;
}

.hamburger-menu ul li a {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
}

.hamburger-menu ul li a:hover {
    background-color: #f0f0f0;
}


/* Overlay Styles */
.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
    z-index: 998;
}

/* Popup Styles */
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    z-index: 1001;
    width: 80%;
    max-width: 400px;
    border-radius: 10px;
}

.popup-content {
    padding: 1rem;
    text-align: center;
}

.popup-logo {
    width: 100px;
}

.version {
    font-size: 0.6rem;
    color: #666;
    margin-bottom: 1rem;
    margin-top: 0;
}

.close {
    position: absolute;
    top: 25px;
    right: 10px;
    cursor: pointer;
    line-height: 0;
    font-size: 2.5rem;
}

/* Other Styles */
body {
    font-family: "Inter Tight", Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f9fa;
}

header {
    background-color: #007bff;
    color: white;
    padding: 1rem;
    width: 100%;
    text-align: center;
    position: relative;
    z-index: 998;
}

#logo {
    max-width: 100px;
    display: block;
    margin: 0 auto;
}

main {
    margin-top: 2rem;
    width: 80%;
    max-width: 600px;
}

#searchInput {
    margin: 1rem 0 0 0;
    width: 85%;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 1rem;
    background: #fff;
}

#results {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-around;
}

.result-item {
    border: 1px solid #ddd;
    border-radius: 1rem;
    background-color: white;
    padding: 1rem;
    width: calc(50% - 2.6rem); /* Adjust width to fit two items per row */
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.result-item img {
    min-width: 2rem;
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.result-item p {
    margin: 0.5rem 0;
}

.result-item .description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}